<!DOCTYPE html>
<html>
<head>
	<title>Login</title> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<h1>Log in</h1>
	<div class="centrado">
		<div class="container">
			<form method="POST" action="/login">
				<label>Name</label>
				<input type="text" name="user" placeholder="Name">
				<label>Password</label>
				<input type="password" name="pass" placeholder="Password">
				<input type="submit" name="" value="Submit">
			</form>

		</div>
		
	</div>

	<footer>
		
	</footer>
</body>
</html>