<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Registro InfoBus</title>
  
  
  
      <link rel="stylesheet" href={{ url_for('static', filename="css/nuevo.css")}}>

  
</head>

<body>

  	

<form method="post" action="/nuevo">
  <h2>Registrarse</h2>
		<p>
			<label for="Name" class="floatLabel">Username</label>
			<input id="name" name="name" type="text">
		</p>
		<p>
			<label for="Email" class="floatLabel">Correo Electronico</label>
			<input id="Email" name="Email" type="text">
		</p>
		<p>
			<label for="password" class="floatLabel">Contraseña</label>
			<input id="password" name="password" type="password">
			<span>La contraseña debe contener mas de 8 caracteres</span>
		</p>
		<p>
			<label for="confirm_password" class="floatLabel">Confirmar Contraseña</label>
			<input id="confirm_password" name="confirm_password" type="password">
			<span>Las contraseñas no coinciden</span>
		</p>
		<p>
			<input type="submit" value="Crear Cuenta" id="submit">
		</p>
	</form>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script  src="js/nuevo.js"></script>




</body>

</html>
