<!DOCTYPE HTML>
<html>
<head>
<title>Olvidaste tu contraseña?</title>
<link  href={{ url_for('static', filename="css/resetContra.css")}} rel="stylesheet" type="text/css" media="all"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="elelment">
	<div class="element-main">
		<h1>Reiniciar Contraseña</h1>
		<p> Ingresa el correo electronico de tu cuenta y te enviaremos tu contraseña.</p>
		<form>
			<input type="text" value="Tu correo electronico" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tu correo electronico';}">
			<input type="submit" value="Enviar Contraseña">
		</form>
	</div>
</div>
</body>
</html>
